spring:
  profiles:
    active: dev
  redis:
    port:
    host:
    password:
  security:
    oauth2:
      client:
        registration:
          google:
            authorization-grant-type: authorization_code
            client-name: Google
            scope:
              - email
              - profile
          kakao:
            authorization-grant-type: authorization_code
            client-name: Kakao
            scope:
              - profile_nickname
              - account_email
              - profile_image
            client-authentication-method: POST
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
        pathmatch:
          matching-strategy: ant_path_matcher

cloud:
  aws:
    s3:
      bucket: petching.net
    region:
      auto: false
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      use-default-aws-credentials-chain: true

aws:
  paramstore:
    enabled: true
    prefix: /spring-boot-aws/petching
    defaultContext: ${spring.profiles.active}
    profileSeparator: _

server:
  servlet:
    encoding:
      force-response: true

---

spring:
  config:
    import: "aws-parameterstore:"
    activate:
      on-profile: dev
  datasource:
    url:
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        show_sql: false
        format_sql: false
  servlet:
    multipart:
      max-file-size: 10MB
  security:
    oauth2:
      client:
        registration:
          google:
            clientId:
            clientSecret:
            redirect-uri:
          kakao:
            clientId:
            clientSecret:
            redirect-uri:

jwt:
  secretKey:
  access:
    expiration: 360000
    header: Authorization
  refresh:
    expiration: 120960000
    header: Authorization-refresh

mail:
  address:
    admin:

config:
  domain :

---

spring:
  config:
    import: "aws-parameterstore:"
    activate:
      on-profile: local
  datasource:
    url:
    username: root
    password: 980915
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
  security:
    oauth2:
      client:
        registration:
          google:
            clientId:
            clientSecret:
            redirect-uri:
          kakao:
            clientId:
            clientSecret:
            redirect-uri:

aws:
  accessKeyId:
  secretKey:

jwt:
  secretKey:
  access:
    expiration: 360000
    header: Authorization
  refresh:
    expiration: 120960000
    header: Authorization-refresh

mail:
  address:
    admin:

config:
  domain :

logging:
  level:
    server.petching: DEBUG
    org:
      springframework:
        orm:
          jpa: DEBUG
---
