name: run actions
on:
  push:
    branches: ["dev-FE"]

defaults:
  run:
    working-directory: ./client #default working directory
env:
  AWS_REGION: ap-northeast-2
  S3_BUCKET_NAME: petching.link
  API_SERVER: ec2-13-124-166-116.ap-northeast-2.compute.amazonaws.com

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: build fe
        run: |
          npm i
          npm run build

      # Access Key와 Secret Access Key를 통해 권한을 확인합니다.
      # 아래 코드에 Access Key와 Secret Key를 직접 작성하지 않습니다.
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }} # 등록한 Github Secret이 자동으로 불려옵니다.
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} # 등록한 Github Secret이 자동으로 불려옵니다.
          aws-region: ap-northeast-2

      # 압축한 프로젝트를 S3로 전송합니다.
      - name: Upload to AWS S3
        run: aws s3 cp --region ap-northeast-2 ./dist s3://$S3_BUCKET_NAME/ --recursive
